/* style.css */

/* Global Styles */
* {
    -fx-font-family: "Roboto", "Arial", sans-serif;
}

/* BorderPane Styles */
.root {
    -fx-background-color: #f5f5f5;
}

.audio-text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

/* VBox Styles */
.vbox {
    -fx-padding: 40px;
}

/* Label Styles */
.header {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* TextField Styles */
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px 16px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #999999;
}

/* Button Styles */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #388E3C;
}

.first {
    -fx-background-color: rgba(255, 215, 0, 0.71);
    -fx-border-color: gold;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(238, 164, 4), 10, 0, 0, 3);
}

.first:hover {
    -fx-background-color: gold;
}

.second {
    -fx-background-color: #ababab;
    -fx-border-color: silver;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 10, 0, 0, 3);
}

.second:hover {
    -fx-background-color: silver;
}

.third {
    -fx-background-color: #ab5703;
    -fx-border-color: #944c04;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(148, 76, 4), 10, 0, 0, 3);
}

.third:hover {
    -fx-background-color: #944c04;
}

.others {
    -fx-background-color: #443e3e;
    -fx-border-color: #2d2929;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.others:hover {
    -fx-background-color: #575454;
}

