* {
    -fx-font-family: "Roboto", "Arial", sans-serif;
}

.root {
    -fx-background-color: #f5f5f5;
}

.audio-text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.avatar-button {
    -fx-background-color: #46b090;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
    -fx-cursor: hand;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

.vbox {
    -fx-padding: 40px;
}

.header {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.normal-text {
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px 16px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #999999;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #388E3C;
}

.medium {
    -fx-background-color: #9d931c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.medium:hover {
    -fx-background-color: #8e8338;
}

.hard {
    -fx-background-color: #b41a1a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.hard:hover {
    -fx-background-color: #8e383f;
}

.hyperlink {
    -fx-text-fill: #4CAF50;
    -fx-font-size: 16px;
}

.hyperlink:hover {
    -fx-text-fill: #388E3C;
}

.avatar-button {
    -fx-background-color: #46b090;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
    -fx-cursor: hand;
}
